<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
        xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
        layout:decorate="template1">
<head>
    <meta charset="UTF-8">
    <title>Form Patients</title>
</head>
<body>
    <div layout:fragment="content1">
        <div class="col-md-6 offset-3">
            <form method="post" th:action="@{/admin/save(keyword=${keyword}, page=${page})}">
                <div>
                    <label>ID : </label>
                    <label th:text="${patient.id}"></label>
                    <input id="id" class="form-control" type="hidden" name="id" th:value="${patient.id}"/>
                </div>
                <div>
                    <label for="nom">Nom</label>
                    <input id="nom" class="form-control" type="text" name="nom" th:value="${patient.nom}"/>
                    <span class="text-danger" th:errors="${patient.nom}"></span>
                </div>
                <div>
                    <label>Date Naissance</label>
                    <input class="form-control" type="date" name="dateNaissance" th:value="${patient.dateNaissance}"/>
                    <span class="text-danger" th:errors="${patient.dateNaissance}"></span>
                </div>
                <div>
                    <label>Malade</label>
                    <input type="checkbox" name="malade" th:checked="${patient.malade}"/>
                    <span class="text-danger" th:errors="${patient.malade}"></span>
                </div>
                <div>
                    <label>Score</label>
                    <input class="form-control" type="text" name="score" th:value="${patient.score}"/>
                    <span class="text-danger" th:errors="${patient.score}"></span>
                </div>
                <button type="submit" class="btn btn-primary">Save</button>
            </form>
        </div>
    </div>
</body>
</html>