<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
        xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
        xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <meta charset="UTF-8">
    <title>Template</title>
    <link rel="stylesheet" type="text/css" href="/webjars/bootstrap/5.1.3/css/bootstrap.min.css" />
    <script src="/webjars/bootstrap/5.1.3/js/bootstrap.bundle.min.js"></script>
</head>
<body>
    <!-- A grey horizontal navbar that becomes vertical on small screens -->
    <nav class="navbar navbar-expand-sm bg-dark">

    <div class="container-fluid">
      <!-- Links -->
      <ul class="navbar-nav">
        <li class="nav-item">
          <a class="nav-link" th:href="@{/user/index}">Home</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">Link 2</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">Link 3</a>
        </li>
        <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown">Patients</a>
            <ul class="dropdown-menu">
              <li sec:authorize="hasAuthority('ADMIN')"><a class="dropdown-item" th:href="@{/admin/formPatients}">Nouveau</a></li>
              <li><a class="dropdown-item" th:href="@{/user/index}">Chercher</a></li>
            </ul>
        </li>
      </ul>
      <ul class="navbar-nav">
        <li class="nav-item dropdown" sec:authorize="isAuthenticated()">
            <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown">
              <span sec:authentication="name"></span>
            </a>
            <ul class="dropdown-menu">
              <li>Authenticated user name : <div sec:authentication="name"></div></li>
              <li><a class="dropdown-item" th:href="@{/logout}">Logout</a></li>
            </ul>
        </li>
      </ul>
      <li class="nav-item" sec:authorize="!isAuthenticated()">
        <a class="nav-link" th:href="@{/login}">Login</a>
      </li>
  </div>
  </nav>
  <section layout:fragment="content1"></section>
</body>
</html>